src/main/resources/xsd/report-definition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="se/montesmites/ekonomi/report-definition"
           elementFormDefault="qualified"
           xmlns="se/montesmites/ekonomi/report-definition"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="definition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="report"/>
                <xs:element ref="section" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="account-group" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="report">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="section" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="section-ref" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="section">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description" type="xs:string"/>
                <xs:sequence>
                    <xs:element ref="account-group" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="account-group-ref" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="section-ref" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="section" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="section-ref">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="compact-section" minOccurs="0">
                    <xs:complexType/>
                </xs:element>
                <xs:element name="totalling-section" minOccurs="0">
                    <xs:complexType/>
                </xs:element>
                <xs:element name="negated-section" minOccurs="0">
                    <xs:complexType/>
                </xs:element>
                <xs:element name="accumulating-section" minOccurs="0">
                    <xs:complexType/>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="account-group">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="regex" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="account-group-ref">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
